.main {
	flex-grow: 1;
	padding-bottom: 2rem;
}

.main::after {
	pointer-events: none;
	content: '';
	position: fixed;
	inset: -6rem 0 -10rem;
	background-image: radial-gradient(theme('colors.ground') 1px,transparent 1px);
	background-size: 1rem 1rem;

	@apply -skew-y-6;
}

.main > * {
	position: relative;
	z-index: 1;
}
