@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		accent-color: theme('colors.j-green-light');
	}

	#__next {
		@apply flex flex-col min-h-screen;
	}

	body {
		@apply bg-ground-light;
	}

	input,
	textarea,
	select {
		appearance: none;
		border-radius: 0;
	}

	select {
		cursor: pointer;
	}

	svg {
		fill: currentColor;
	}

	summary {
		cursor: pointer;
	}

	:focus-visible {
		outline-offset: 2px;

		@apply outline-1 outline-dashed outline-j-red/50;
	}

	:target {
		scroll-margin-top: calc(80px + 4rem);
	}

	@screen <md {
		:target {
			scroll-margin-top: calc(60px + 1.5rem);
		}
	}
}

@layer components {
	.link {
		@apply underline hover:decoration-2;
	}

	.styled-shadow-green { box-shadow: 4px 4px theme('colors.j-green-dark'); }
	.styled-shadow-ground { box-shadow: 4px 4px theme('colors.ground'); }
	.styled-shadow-ground-dark { box-shadow: 4px 4px theme('colors.ground-dark'); }

	._btn { @apply inline-flex items-center justify-center gap-[0.5ch] p-2; }

	.action { @apply _btn j-gradient styled-shadow-green; }
	.action-2 { @apply _btn ground-gradient styled-shadow-ground-dark; }

	.input {
		@apply p-2;
	}

	.h1 { @apply text-3xl; }
	.h2 { @apply text-2xl; }
	.h3 { @apply text-xl; }

	.h1,.h2,.h3,.h4,.h5,.h6 {
		@apply first-letter:text-j-green-light font-bold mb-[0.5em];
	}

	.technical {
		letter-spacing: 1px;
		@apply uppercase;
	}

	.chip {
		padding: 0 1em;
		border: 1px solid currentColor;
		border-radius: 2em;

		@apply technical;
	}

	.starred { position: relative; }
	.starred > * { @apply relative z-[1]; }
	.starred::after {
		pointer-events: none;
		content: '★';
		position: absolute;
		left: 90%;
		top: 10%;
		transform: translate(-50%, -50%) rotate(-12deg);
		font-size: var(--size, 0.8em);
		animation: starred 0.5s ease-in-out forwards;
		@apply text-j-red/50;
	}

	@keyframes starred {
		from {
			opacity: 0;
			transform: translate(-150%, -25%) rotate(-90deg) scale(0.5);
		}
	}
}

@layer utilities {
	.full-width {
		width: 100vw;
		margin-inline: calc(50% - 50vw);
	}

	.no-scrollbar { scrollbar-width: none; }
	.no-scrollbar::-webkit-scrollbar { display: none; }

	._section { @apply mx-auto py-8 px-4; }
	.section-xl { @apply _section max-w-screen-xl }
	.section-lg { @apply _section max-w-screen-lg }
	.section-md { @apply _section max-w-screen-md }

	.j-gradient { @apply bg-gradient-to-tr from-j-green to-j-green-light text-white; }
	.ground-gradient { @apply bg-gradient-to-tr from-ground to-ground-light; }

	.prose-spacing > * + * {
		margin-top: 1em;
	}
}
